.form-content {
  width: 50%;
  margin: 20px 300px 150px 300px;
}
.contact-head {
  color: var(--Solid-Heading-Dark-mode, #ccc);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-top: 50px;
}
.contact-btn {
  background-color: #118eb4;
  border: 0px;
  height: 50px;
  width: 150px;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .form-content {
    width: 70%;
    margin: 20px 62px;
    margin-bottom: 100px;
  }
  .contact-head {
    font-size: 35px;
  }
  .contact-btn {
    height: 40px;
    width: 150px;
  }
  .btn-flex {
    display: flex;
    justify-content: space-around;
  }
}
