* {
  font-family: "Poppins", sans-serif;
}
.nav-text {
  padding: 8px;
  font-size: 1.2rem;
  color: white;
}
.navbar-nav .nav-link:hover {
  color: #23e9a4;
}
.navbar-nav {
  margin-left: auto;
}
/* .nav-text {
  padding: 0px 20px;
} */
.nav-item {
  margin-left: 15px;
}
.navbar-nav .nav-link:visited {
  color: white;
}
.modal-header .btn-close {
  background-image: url(../images/close.png);
}
@media only screen and (max-width: 600px) {
  .nav-text {
    padding: 0px 0px;
    text-align: center;
    font-size: 0.9rem;
  }
  .nav-item {
    margin-bottom: 6px;
    margin-left: 0px;
  }
  .nav-text {
    font-size: 1.3rem;
    margin: 8px;
  }
  .navbar-toggler-icon {
    background-image: url(../images/toggler-image.png);
    margin-right: 18px;
  }
  .navbar {
    width: 100%;
  }
}

/* CONTACT  */
.form-content {
  width: 50%;
  margin: 20px 300px 150px 300px;
}
/* .contact-head {
  color: var(--Solid-Heading-Dark-mode, #ccc);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-top: 50px;
} */
.contact-btn {
  background-color: #118eb4;
  border: 0px;
  height: 50px;
  width: 150px;
  border-radius: 20px;
}
.body-model {
  padding: 0px;
}
.form-text {
  margin-left: -300px;
  margin-right: 40px;
}
@media (max-width: 480px) {
  .form-content {
    width: 70%;
    margin: 20px 62px;
    margin-bottom: 100px;
  }
  .contact-head {
    font-size: 35px;
  }
  .contact-btn {
    height: 40px;
    width: 150px;
  }
  .btn-flex {
    display: flex;
    justify-content: space-around;
  }
  .form-text {
    margin-left: -10px;
    margin-right: 0px;
  }
}
