.tech-head {
  color: var(--Solid-Heading-Dark-mode, #ccc);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-top: 100px;
}
.tech-para {
  color: var(--light-Content, #a7a7a7);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 40px;
}
.tech-grid {
  margin: 50px;
}
.tech-img {
  margin: 60px;
}
.flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .tech-head {
    font-size: 35px;
    line-height: 20px; /* 54.167% */
    margin-top: 120px;
  }
  .tech-para {
    font-size: 18px;
    line-height: 20px; /* 81.25% */
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .tech-grid {
    margin: 60px;
  }
  .tech-img {
    margin: 20px;
    height: 80px;
  }
  .flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
